.footer1 {
  background-color: #1f2937;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #ccc;
  border: none;      /* remove line */
  margin: 0;         /* reset margin */
  padding: 10,10,10,10;        /* reset padding */
  line-height: 1;    /* tighter spacing */
}
