header {
  background-color: #1f2937;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
}

.college-name {
  text-align: center;
  font-size: 1.8em;
  font-family:'Libre Baskerville', serif;
}
